/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f4f4f4;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #36353B;
}

.hljs-strong,
.hljs-emphasis {
  color: #070707;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #00369C;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #f92672;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #127487;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #02FA38;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #A62B1D;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #34A61D;
}
